In [1]:
# The code was removed by Watson Studio for sharing.

            name  Dial
0  United States     1
1         Russia     7
2          Egypt    20
3   South Africa    27
4         Greece    30

In [2]:

body = client_11856f966c6d418e84b13674017f3c40.get_object(Bucket='clarodsx-donotdelete-pr-aenfjjjn7qxg8k',Key='milano-grid.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()

   squareId        lat       lon
0         1  45.357743  9.012991
1         2  45.357743  9.015991
2         3  45.357743  9.018992
3         4  45.357743  9.021992
4         5  45.357743  9.024993